/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*~
/.lein-*
/.nrepl-port
/resources/public/js/out
/logs
/node_modules
/env
.env
npm-debug.log
main.js
package.json
profiles.clj
/src/cljs/node/server/setup.cljs
